---
- name: Set global environment variables for Squid Proxy
  lineinfile:
    path: /etc/environment
    regexp: "^{{ item.key }}="
    line: "{{ item.key }}=\"{{ item.value }}\""
    state: present
  loop:
    - { key: 'http_proxy', value: 'http://{{ proxy_ip }}:{{ proxy_port }}' }
    - { key: 'https_proxy', value: 'http://{{ proxy_ip }}:{{ proxy_port }}' }
    - { key: 'no_proxy', value: "localhost,127.0.0.1,{{ inventory_hostname }},{{ virtual_ip | default('') }}" }
    - { key: 'HTTP_PROXY', value: "http://{{ proxy_ip }}:{{ proxy_port }}" }
    - { key: 'HTTPS_PROXY', value: "http://{{ proxy_ip }}:{{ proxy_port }}" }
    - { key: 'NO_PROXY', value: "localhost,127.0.0.1,{{ inventory_hostname }},{{ virtual_ip | default('') }}" }